{
  "env": {
    "browser": true,
    "es2021": true,
    "node": true
  },
  "extends": [
    "next/core-web-vitals",
    "plugin:@typescript-eslint/recommended",
    // "plugin:@typescript-eslint/recommended-requiring-type-checking",
    "plugin:prettier/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": "latest",
    "sourceType": "module",
    "project": "./tsconfig.json"
  },
  "plugins": ["@typescript-eslint", "import"],
  "rules": {
    "@typescript-eslint/no-unused-vars": "error",
    "@typescript-eslint/no-explicit-any": "error",
    "prettier/prettier": ["error", { "endOfLine": "auto" }],
    "import/extensions": [
      "error",
      {
        "tsx": "never",
        "ts": "never",
        "js": "never",
        "jsx": "never"
      }
    ],
    "react/react-in-jsx-scope": 0,
    "react/jsx-props-no-spreading": 0,
    "import/order": [
      "error",
      {
        "groups": [
          "builtin",
          "external",
          "internal",
          ["sibling", "parent", "index"],
          "object",
          "type"
        ],
        "pathGroups": [
          {
            "pattern": "{react,react/*}",
            "group": "builtin",
            "position": "before"
          },
          {
            "pattern": "{next,next/*}",
            "group": "builtin",
            "position": "before"
          },
          {
            "pattern": "components/**/*",
            "group": "internal",
            "position": "after"
          },
          {
            "pattern": "customs/**/*",
            "group": "internal",
            "position": "after"
          },
          {
            "pattern": "queries/**/*",
            "group": "internal",
            "position": "after"
          },
          {
            "pattern": "contexts/**/*",
            "group": "internal",
            "position": "after"
          },
          {
            "pattern": "lib/**/*",
            "group": "internal",
            "position": "after"
          },
          {
            "pattern": "constants/**/*",
            "group": "internal",
            "position": "after"
          }
        ],
        "alphabetize": {
          "order": "asc",
          "caseInsensitive": true
        },
        "newlines-between": "always"
      }
    ]
  }
}
